<%- include('partials/head')%>
<%- include('partials/menu')%>


<div class="container" style="margin-top:30px; margin-bottom: 30px;">
	<div class="row justify-content-center">
	  <div class="col-md-10">
		<a  href="/user/registro" role="button" data-slide="next">
			Registrarme<span class="carousel-control-next-icon" aria-hidden="true"></span>
		</a>
		<form method="POST" action="/user/login"  id="loginForm"> 
	  
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label><b>Correo electrónico:</b></label>
						<input 

							type="email"
							name="email" 
							data-name="correo"
							class="form-control
							<% if (typeof hasErrorGetMessage !== 'undefined') { %>
								<%= hasErrorGetMessage('email', errors) ? 'is-invalid' : null %> 
							<% } %>
							"
							value="<%= typeof oldData !== 'undefined' ? oldData.email : null %>"
						>
						<i class="invalid-feedback">
							<% if (typeof hasErrorGetMessage !== 'undefined') { %>
							<%= hasErrorGetMessage('email', errors) ? hasErrorGetMessage('email', errors) : null %>
							<% } %>
						</i>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label><b>Password:</b></label>
						<input 
							type="password" 
							name="password" 
							data-name="password"
							class="form-control
							<% if (typeof hasErrorGetMessage !== 'undefined') { %>
								<%= hasErrorGetMessage('password', errors) ? 'is-invalid' : null %> 
							<% } %>
							"
						>
						<i class="invalid-feedback">
							<% if (typeof hasErrorGetMessage !== 'undefined') { %>
							<%= hasErrorGetMessage('password', errors) ? hasErrorGetMessage('password', errors) : null %>
							<% } %>
						</i>
					</div>
				</div>


				<div class="col-8">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
					</label>
					</div>
					
				<div class="col-8">	 
					<button type="submit" class="btn btn-primary"  > login</button>
				  </div>
			</div>
   
		 </form>
   
		  </div>
	  </div>
	</div>
  
    <%- include('partials/footer') %>
  <script> src="js/bootstrap.js"</script>
  <script> src="js/jquery.js"</script>
  <script> src="js/popper.js"</script>
  <script src="../js/validator.js"></script>
  <script src="../js/validacionesLogin.js"> </script>

 

 
 
</body>

</html>
