<%- include('partials/head')%>
<%- include('partials/menuAdmin')%>

<div class="cuerpoProductAdd container">
  <div>
    <form class=" " method="POST" 
    action="/editProd/:<%= product.id%>"    ></form>
  
    
      <div class="col-5">
        <label for="nombre_product">Nombre</label>
        <input class="abajo" type="text" name="nombre_product" value="<%= product.nombre_product%>" >
         
         
        <label for="tamaño">Tamaño/Talle</label>
        <input class="abajo" type="text" name="tamaño"  value="<%= product.tamaño%>">
        <label for="color">Color</label>
        <input class="abajo" type="text" name="color"  value="<%= product.color%>">
        <label for="precio">Precio</label>
        <input class="abajo" type="text" name="precio"  value="<%= product.precio%>">
        <label for="stock">Stock</label>
        <input class="abajo" type="text" name="stock"  value="<%= product.stock%>">
        <label for="descripcion">Descripción Corta</label>
        <input class="abajo" type="txt" name="descripcion"  value="<%= product.descripcion%>">
      </div>
      <div class="col-6 row cargaBotones justify-content-around">
        <div class="col-6">
          <label  for="descripcion_larga">Descripción Larga</label>
          <input  type="text" name="descripcion_larga"  value="<%= product.descripcion_larga%>">
        </div>
      
  
        <input class=" " type="submit" value="Actualizar">
       
      </div>
    </form>
  </div>
</div>




  <%- include('partials/footer')%>
    

