<%- include('partials/head')%>
<%- include('partials/menuAdmin')%>

	<!-- todos los productos -->
	<div >
		<h1 ></h1>
		<p > </p>
	  </div>
	  <div class="container">
		<div class="row text-center">
		  <% productos.forEach(function (producto) { %>
		  <div class="col-sm-3 card mb-3 box-shadow">
			<div class="card-header">
			  <h4 class="my-0 font-weight-normal"><%= producto.nombre %></h4>
			</div>
			<div class="card-body">
			
			  <h1 class="card-title pricing-card-title"> $<%= producto.precio %> <small class="text-muted"></small></h1>
			  <ul class="list-unstyled mt-3 mb-4 listaprod">
				<li><a href="detalle/<%= producto.id%>">
					<img   src="<%= producto.foto %>" alt="Imagen Producto" class="imgProducts"></li>
				</a>
				<br>
                <div class="container">
					<div class="row justify-content-center botoncitos_update">
						<form class="col-6" action="borrar/<%= producto.id %>?_method=DELETE" method="POST">
							<button class="botonTachito"><img src="../../images/borrar_tachito.png" class="tachitoBorrar" alt="borrar producto"></button>
						</form>
						<form class="col-6" action="update/<%= producto.id %>" method="GET">
							<button class="botonTachito"><img src="../../images/actualizar_icono.jpg" class="tachitoBorrar" alt="borrar producto"></button>
						</form>
					</div>
				</div>
			  </ul>	  
			  
			</div>
		  </div>
		  <% }) %>
		</div>
		
	  </div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>