<%- include('partials/head')%>
<%- include('partials/menuAdmin')%>

	<!-- todos los usuarios -->
	<div >
		<h2 class="row justify-content-center  " >Gestion de usuarios</h2>
		 
	  </div>
	  <div class="container">
		<div class="row text-center">
		  <% users.forEach(function (user) { %>
		  <div class="col-sm-3 card mb-3 box-shadow">
			<div class="card-header">
			  <h4 class="my-0 font-weight-normal"><%= user.fullName %></h4>
			  <a href="editUser/<%= user.id%>">
				<h5 class= 'text-danger'>Editar Usuario </h5> 
				</a>
			</div>
			<div class="card-body">

				<div class="row justify-content-center col-md-12">
					
					
					</div>
			  <h5 class=" "> <%= user.email %> 
				<small class="text-muted"></small></h5>
			  <ul class="list-unstyled mt-3 mb-4 listaprod">
				<li>
					<img   src="<%= user.avatar %>" alt="Avatar" class="imgProducts"></li>
				
				<br>
                <div class="container">
					<div class="row justify-content-center botoncitos_update">
					 
					 
					<form action="/user/<%= user.id %>?_method=DELETE" method="POST">
				
						<button type="submit">Borrar User</button>
					</form>
				 
				
					</div>

				
					</div>
				</div>
			  </ul>	  
			  
			</div>
		  </div>
		  <% }) %>
		</div>
		
	  </div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>