<%- include('partials/head')%>
<%- include('partials/menuAdmin')%>


<div class="container" style="margin-top:30px; margin-bottom: 30px;">
	<div class="row justify-content-center">
	  <div class="col-md-10">
		 <div class="row">	
			<% users.forEach(function (user) { %> 
				<div class="col-md-12">
					<div class="form-group">
						<label><h1>Bienvenido <%= user.fullName %></h1></label>
					    
					    
					</div>
				</div>
				 
			 
				<div class="col-md-12">
					<div class="form-group">
					 
						<label><b> Datos</b></label>
					    <label><b> Mail: <%= user.email %></b></label>
						 
					</div>
				</div> 

				<div class="col-md-12">
					<div class="form-group">
					 
					 
						<label><b> Ciudad: <%= user.ciudad %></b></label>
					</div>
				</div> 

				<div class="col-md-12">
					<div class="form-group">
					 
						 
						<label><b> Ciudad: <%= user.ciudad %></b></label>
					</div>
				</div> 


				<% }) %>
			</div>
			 
 
			</div>
   
		 
   
		  </div>
	  </div>
	</div>
  
    <%- include('partials/footer') %>
  <script> src="js/bootstrap.js"</script>
  <script> src="js/jquery.js"</script>
  <script> src="js/popper.js"</script>
  <script src="../js/validator.js"></script>
  <script src="../js/validacionesLogin.js"> </script>

</body>

</html>

